dj-database-url==0.4.2
Django==1.11.2
gunicorn==19.7.1
pytz==2017.2
whitenoise==3.3.0
psycopg2==2.7.1
cf-deployment-tracker==1.0.2
click==6.7
cloudant==2.4.0
djangorestframework==3.6.2
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pysolr==3.6.0
pytz==2017.2
requests==2.13.0
virtualenv==15.0.1
watson-developer-cloud==0.25.2
Werkzeug==0.12.1


